//
// Custom Variables
//

/////////////
// General //
/////////////
    
// Main
$app-dark-mode-body-bg-color: #151521;

// Header base
$app-header-base-height: 96px;
$app-header-base-height-mobile: 70px;
$app-header-base-border-when-toolbar-enabled: $border-dashed-color;

// Header primary
$app-header-primary-base-height: 80px;

// Header secondary
$app-header-secondary-base-height: 67px;
$app-header-secondary-sticky-box-shadow: if(isDarkMode(), none, 0px 10px 30px 0px rgba(82,63,105,0.05));

// Toolbar base
$app-toolbar-base-height: 60px;
$app-toolbar-base-height-mobile: auto;
$app-toolbar-sticky-height: 60px;
$app-toolbar-sticky-bg-color: if(isDarkMode(), darken(#1e1e2d, 2%), $white);
$app-toolbar-sticky-bg-color-mobile: $app-toolbar-base-bg-color;
$app-toolbar-sticky-box-shadow: if(isDarkMode(), none, 0px 10px 30px 0px rgba(82,63,105,0.05));
$app-toolbar-sticky-box-shadow-mobile: $app-toolbar-base-box-shadow;

// Sidebar base
$app-sidebar-base-width: 300px;
$app-sidebar-base-width-mobile: 250px; 

// Sidebar menu
$app-sidebar-menu-link-padding-x: 14px;
$app-sidebar-menu-indention: 15px;

// Sidebar logo icon
$app-sidebar-logo-icon-custom-hover-color: $primary;

// Footer
$app-footer-height: auto;
$app-footer-height-mobile: auto;

// Scrolltop
$scrolltop-bottom: 42px;
$scrolltop-bottom-mobile: 23px;
$scrolltop-end: 7px;
$scrolltop-end-mobile: 5px;

// Layout builder toggle
$app-layout-builder-toggle-end: 50px;
$app-layout-builder-toggle-end-mobile: 40px;
$app-layout-builder-toggle-bottom: 40px;
$app-layout-builder-toggle-bottom-mobile: 20px;


/////////////
// Layouts //
/////////////

// Light sidebar
$app-light-sidebar-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color, #F9FCFE);

$app-light-sidebar-bg-color: $body-bg;

$app-light-sidebar-logo-icon-custom-color: $gray-400;

$app-light-sidebar-scrollbar-color: if(isDarkMode(), $gray-300, darken($gray-100, 4%));
$app-light-sidebar-scrollbar-color-hover: if(isDarkMode(), lighten($gray-300, 3%), darken($gray-100, 5%));

$app-light-sidebar-separator-color: if(isDarkMode(), #2D2D43,#E0E0DE);

$app-light-sidebar-btn-custom-color: if(isDarkMode(), $gray-700, $gray-500);
$app-light-sidebar-btn-custom-bg-color: if(isDarkMode(), $gray-300, #F1F6F9);
$app-light-sidebar-btn-custom-bg-color-active: if(isDarkMode(), $gray-200, darken(#F1F6F9, 2%));

$app-light-sidebar-select-custom-color: if(isDarkMode(), $gray-600,#9FA6AA);
$app-light-sidebar-select-custom-bg-color: if(isDarkMode(), $gray-300,#F4F6F8);

$app-light-sidebar-menu-heading-color: $gray-400;

$app-light-sidebar-menu-root-link-color:  $gray-700;
$app-light-sidebar-menu-root-icon-color:  $gray-400;
$app-light-sidebar-menu-root-bullet-color: $gray-300;
$app-light-sidebar-menu-root-arrow-color: $gray-500;

$app-light-sidebar-menu-root-link-color-hover:  $gray-800;
$app-light-sidebar-menu-root-icon-color-hover:  $gray-500;
$app-light-sidebar-menu-root-bullet-color-hover: $gray-400;
$app-light-sidebar-menu-root-arrow-color-hover: $gray-600;

$app-light-sidebar-menu-link-color:  $gray-700;
$app-light-sidebar-menu-icon-color:  $gray-500;
$app-light-sidebar-menu-bullet-color: $gray-300;
$app-light-sidebar-menu-arrow-color: $gray-500;

$app-light-sidebar-menu-link-color-hover: $gray-800;
$app-light-sidebar-menu-icon-color-hover:  $gray-500;
$app-light-sidebar-menu-bullet-color-hover: $gray-400;
$app-light-sidebar-menu-arrow-color-hover: $gray-600;

$app-light-sidebar-header-search-icon-color: $gray-700;
$app-light-sidebar-header-search-input-color: $gray-700;
$app-light-sidebar-header-search-input-border-color: if(isDarkMode(), $gray-300, #DBE5EB);
$app-light-sidebar-header-search-input-placeholder-color: $gray-400;

$app-light-sidebar-header-navbar-btn-custom-color: $gray-700;
$app-light-sidebar-header-navbar-btn-custom-icon-color: $gray-700;
$app-light-sidebar-header-navbar-btn-custom-border-color: if(isDarkMode(), $gray-200, #DBE5EB);

// Dark sidebar
$app-dark-sidebar-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color, #F9FCFE);

$app-dark-sidebar-logo-icon-custom-color: if(isDarkMode(), $gray-400,#747496);

$app-dark-sidebar-bg-color: if(isDarkMode(), $body-bg, #1E1E2D);

$app-dark-sidebar-avatar-name-color:#B6B9C8;
$app-dark-sidebar-avatar-deckription-color:#5D6170;
$app-dark-sidebar-avatar-name-color-hover: $primary;

$app-dark-sidebar-avatar-icon-custom-color: if(isDarkMode(), $gray-400,#67677B);

$app-dark-sidebar-scrollbar-color: if(isDarkMode(), $gray-300, rgba($white, 0.1));
$app-dark-sidebar-scrollbar-color-hover: if(isDarkMode(), lighten($gray-300, 3%), rgba($white, 0.15));

$app-dark-sidebar-separator-color: if(isDarkMode(), #2D2D43,#383845);

$app-dark-sidebar-btn-custom-color: if(isDarkMode(), $gray-700,#747496);
$app-dark-sidebar-btn-custom-bg-color: if(isDarkMode(), $gray-300, #343447);
$app-dark-sidebar-btn-custom-bg-color-active: if(isDarkMode(), $gray-200, $danger);
$app-dark-sidebar-btn-custom-color-active: $white; 

$app-dark-sidebar-select-custom-color: if(isDarkMode(), $gray-600, #5D6170);
$app-dark-sidebar-select-custom-bg-color: if(isDarkMode(), $gray-300,rgba(#2E2E3F, 0.6)); 

$app-dark-sidebar-menu-heading-color: darken(#B6B9C8, 15%);

$app-dark-sidebar-menu-root-link-color:  #B6B9C8;
$app-dark-sidebar-menu-root-icon-color:  $gray-600;
$app-dark-sidebar-menu-root-bullet-color: $gray-600;
$app-dark-sidebar-menu-root-arrow-color: $gray-600;

$app-dark-sidebar-menu-root-link-color-hover: lighten(#B6B9C8, 8%);  
$app-dark-sidebar-menu-root-icon-color-hover:  lighten($gray-600, 8%);  
$app-dark-sidebar-menu-root-bullet-color-hover: lighten($gray-600, 8%);  
$app-dark-sidebar-menu-root-arrow-color-hover: lighten($gray-600, 8%);  

$app-dark-sidebar-menu-link-color: #B6B9C8;
$app-dark-sidebar-menu-icon-color: #57576B;
$app-dark-sidebar-menu-bullet-color: #505465;
$app-dark-sidebar-menu-arrow-color: #57576B;

$app-dark-sidebar-menu-link-sub-title-color: #7D8192;

$app-dark-sidebar-menu-link-color-hover: lighten(#B6B9C8, 8%);  
$app-dark-sidebar-menu-icon-color-hover:  lighten(#57576B, 8%);  
$app-dark-sidebar-menu-bullet-color-hover: lighten(#505465, 8%);  
$app-dark-sidebar-menu-arrow-color-hover: lighten(#57576B, 8%);  

$app-dark-sidebar-header-search-icon-color: $gray-700;
$app-dark-sidebar-header-search-input-color: $gray-700;
$app-dark-sidebar-header-search-input-border-color: if(isDarkMode(), $gray-300, #EFE9E1);
$app-dark-sidebar-header-search-input-placeholder-color: #5D6170;

$app-dark-sidebar-header-navbar-btn-custom-color: $gray-700;
$app-dark-sidebar-header-navbar-btn-custom-icon-color: $gray-700;
$app-dark-sidebar-header-navbar-btn-custom-border-color: if(isDarkMode(), $gray-200, #EFE9E1);

// Light header
$app-light-header-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color, #F9FCFE);
$app-light-header-page-card-bg-color: $body-bg;
$app-light-header-page-card-border-color: if(isDarkMode(), $border-color, #E8E5DD);

$app-light-header-toolbar-bg-color: $app-light-header-page-bg-color;

$app-light-header-bg-color: $body-bg;

$app-light-header-border-color: if(isDarkMode(), $gray-200, #F3F3F3);

$app-light-header-btn-custom-color: $gray-600; 
$app-light-header-btn-custom-bg-color: if(isDarkMode(), transparent, $gray-100);
$app-light-header-btn-custom-border-color: if(isDarkMode(), $gray-300, $gray-100);

$app-light-header-search-icon-color: $gray-700;
$app-light-header-search-input-color: $gray-700;
$app-light-header-search-input-border-color: if(isDarkMode(), $gray-300, $gray-100);
$app-light-header-search-input-bg-color: if(isDarkMode(), transparent, $gray-100);
$app-light-header-search-input-placeholder-color: $gray-400;

$app-light-header-menu-link-bg-color-active: $gray-100;
$app-light-header-menu-link-color: $gray-600;
$app-light-header-menu-icon-color:  $gray-500;
$app-light-header-menu-bullet-color: $gray-500;
$app-light-header-menu-arrow-color: $gray-500;

$app-light-header-menu-link-color-hover:  $gray-800;
$app-light-header-menu-icon-color-hover:  $gray-600;
$app-light-header-menu-bullet-color-hover: $gray-600;
$app-light-header-menu-arrow-color-hover: $gray-600;

$app-light-header-menu-bullet-color-active: $gray-800;


// Dark header
$app-dark-header-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color, #FBFBFB);
$app-dark-header-page-card-bg-color: $body-bg;
$app-dark-header-page-card-border-color: if(isDarkMode(), $border-color, #E8E5DD);

$app-dark-header-bg-color: #161514;

$app-dark-header-toolbar-bg-color: $app-dark-header-page-bg-color;

$app-dark-header-border-color: if(isDarkMode(), $gray-100, #2A304E);

$app-dark-header-btn-custom-color: $gray-500; 
$app-dark-header-btn-custom-bg-color: transparent;
$app-dark-header-btn-custom-border-color: #43475A; 

$app-dark-header-search-icon-color: $gray-500;  
$app-dark-header-search-input-color: $gray-700;
$app-dark-header-search-input-border-color: if(isDarkMode(), $gray-300, #43475A);
$app-dark-header-search-input-bg-color: if(isDarkMode(), $gray-300, #161514);
$app-dark-header-search-input-placeholder-color: $gray-700;

$app-dark-header-menu-link-bg-color-active: if(isDarkMode(), $gray-100, $danger);
$app-dark-header-menu-link-color: #7D8192;
$app-dark-header-menu-icon-color:  $gray-500;
$app-dark-header-menu-bullet-color: $gray-500;
$app-dark-header-menu-arrow-color: $gray-500;

$app-dark-header-menu-link-color-hover:  $white;
$app-dark-header-menu-icon-color-hover:  $gray-600;
$app-dark-header-menu-bullet-color-hover: $gray-600;
$app-dark-header-menu-arrow-color-hover: $gray-600;

// Mini sidebar
$app-mini-sidebar-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color,#F9FCFE);

$app-mini-sidebar-menu-bg-color:#1E1E2D;
$app-mini-sidebar-menu-icon-color:#57576B;
$app-mini-sidebar-menu-icon-color-active: $danger;

$app-mini-sidebar-menu-link-bg-color:#353545;

$app-mini-sidebar-header-search-icon-color: $gray-700;
$app-mini-sidebar-header-search-input-color: $gray-700;
$app-mini-sidebar-header-search-input-border-color: if(isDarkMode(), $gray-300, #DBE5EB);
$app-mini-sidebar-header-search-input-bg-color: if(isDarkMode(), $gray-300, #F6F5F2);
$app-mini-sidebar-header-search-input-placeholder-color: $gray-400; 

$app-mini-sidebar-header-btn-custom-color: $gray-700; 
$app-mini-sidebar-header-btn-custom-icon-color: $gray-700; 
$app-mini-sidebar-header-btn-custom-border-color: if(isDarkMode(), $gray-300, #DBE5EB); 

$app-mini-sidebar-header-btn-custom-color-active: $primary; 
$app-mini-sidebar-header-btn-custom-icon-color-active: $primary;  

// Overlay
$app-overlay-page-bg-color: if(isDarkMode(), $app-dark-mode-body-bg-color, #FBFBFB);
$app-overlay-page-card-bg-color: $body-bg;
$app-overlay-page-card-border-color: if(isDarkMode(), $border-color, #E8E5DD);

$app-overlay-header-bg-color: if(isDarkMode(), $gray-100, $gray-900);

$app-overlay-sidebar-menu-shadow-color: if(isDarkMode(), none,rgba(197, 196, 211, 0.08)); 

$app-overlay-sidebar-menu-icon-color:if(isDarkMode(), $gray-600, $gray-400);
$app-overlay-sidebar-menu-icon-color-active: $danger;

$app-overlay-sidebar-menu-link-bg-color: if(isDarkMode(), $gray-200, $gray-100);

$app-overlay-search-icon-color: $gray-500;
$app-overlay-search-input-color: $gray-700;
$app-overlay-search-input-border-color: if(isDarkMode(), $gray-300,#43475A);
$app-overlay-search-input-bg-color: if(isDarkMode(), $gray-300, #F6F5F2);
$app-overlay-search-input-placeholder-color: $gray-700;

$app-overlay-btn-custom-border-color: #43475A;
$app-overlay-btn-custom-color: $gray-500; 
$app-overlay-btn-custom-icon-color: $gray-700;
 
$app-overlay-btn-custom-color-active: $primary; 
$app-overlay-btn-custom-icon-color-active: $primary; 
$app-overlay-btn-custom-bg-color-active: $light;

$app-overlay-page-title-heading-color: $white;
$app-overlay-page-title-desc-color: #7E8299;
$app-overlay-page-title-breadcrumb-color: $app-overlay-page-title-desc-color;
$app-overlay-page-title-breadcrumb-color-hover: $app-overlay-page-title-heading-color;
$app-overlay-page-title-breadcrumb-bullet-color: $app-overlay-page-title-desc-color;