//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Bootstrap base colors
$white:    											#ffffff;
$gray-100: 										    if(isDarkMode(), #1b1b29, #F5F8FA);
$gray-200: 										    if(isDarkMode(), #2B2B40, #EFF2F5);
$gray-300: 										    if(isDarkMode(), #323248, #E4E6EF);
$gray-400: 										    if(isDarkMode(), #474761, #B5B5C3);
$gray-500: 										    if(isDarkMode(), #565674, #A1A5B7);
$gray-600: 										    if(isDarkMode(), #6D6D80, #7E8299);
$gray-700: 										    if(isDarkMode(), #92929F, #5E6278);
$gray-800: 										    if(isDarkMode(), #CDCDDE, #3F4254);
$gray-900: 										    if(isDarkMode(), #FFFFFF, #181C32);

// Theme colors
// Primary
$primary:       									if(isDarkMode(), #00B2FF, #4FC9DA);
$primary-active:    								if(isDarkMode(), #4AC9FF, #30A6B6);
$primary-light:    									if(isDarkMode(), #2D3749, #DDF8FC);
$primary-inverse:  									#FFFFFF;

// Success
$success:       									if(isDarkMode(), #50CD89, #B8D935);
$success-active:    								if(isDarkMode(), #82F3B6, #9FBE22);
$success-light:    								    if(isDarkMode(), #2D3E35, #F4FBDB);
$success-inverse:  									#FFFFFF;

// Info
$info:       									    if(isDarkMode(), #9A68FF, #4F55DA);
$info-active:    									if(isDarkMode(), #B48FFF, #383EBC);
$info-light:    									if(isDarkMode(), #382F59, #EFF0FF);
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    if(isDarkMode(), #E11D64, #F06445);
$danger-active:    									if(isDarkMode(), #FE498A, #DB5437);
$danger-light:    									if(isDarkMode(), #452E36, #FFF0ED);
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									if(isDarkMode(), #E7BB22, #E8C444);
$warning-active:    								if(isDarkMode(), #FDD33F, #CFAB2A);
$warning-light:    									if(isDarkMode(), #3F3A2B, #FDF4D6);
$warning-inverse:  									#FFFFFF;

// Border radiues
$border-radius:               						0.95rem;
$border-radius-sm:            						.475rem;

// Body
$body-bg:                                           if(isDarkMode(), #1E1E2D, $white);

// Border
$border-dashed-color:                               $gray-300;  // Custom variable
$border-color:                                      $gray-200;  // Custom variable

// Card
$card-border-color:                                 $border-dashed-color;
$card-box-shadow:                                   none;
$card-border-enabled:                               true;
$card-border-style:                                 dashed;
$card-border-radius:                                $border-radius;
$card-bg:                                           $body-bg;

// Accordion
$accordion-border-radius:                           $border-radius;

// Button
$btn-border-radius-sm:                              $border-radius;

// Accordion
$accordion-border-radius:                           $card-border-radius;

// Modals
$modal-content-border-radius:                       $card-border-radius;

// Forms
//$input-border-color:                              if(isDarkMode(), $gray-300, #EFE9E1); 

// Badge
$badge-border-radius:                               $border-radius-sm;

// Form
//$input-placeholder-color:                         if(isDarkMode(), $gray-500, $gray-400); 
$input-btn-font-size:                               1rem;